@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%) scale(0);
    opacity: 1;
  }
}

@keyframes bubble2 {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%) scale(0);
    opacity: 1;
  }
}

@keyframes bubble3 {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%) scale(0);
    opacity: 1;
  }
}

.animate-bubble {
  animation: bubble 2s linear infinite;
}

.animate-bubble2 {
  animation: bubble2 2.5s linear infinite;
}

.animate-bubble3 {
  animation: bubble3 3s linear infinite;
}
.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  background: radial-gradient(
    circle,
    rgba(255, 87, 34, 1) 0%,
    rgba(255, 193, 7, 0.5) 50%,
    rgba(255, 255, 0, 0.3) 70%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 50%;
  animation: bubble-flame;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.pulse {
  animation: pulse 3s ease-in-out infinite;
}
